@import "../general.css" layer(general);

@layer general page;

@layer page {
	body {
		margin: 0;

		display: flex;
		flex-flow: column nowrap;
		min-height: 100vh;
	}

	header {
		flex: 0;

		position: sticky;
		top: 0;
	}

	main {
		flex: 1;
		padding: var(--padding);
	}

	footer {
		flex: 0;
	}
}
